
.bannerImage {
    background-image: url(https://www.inov-8.com/media/roclite-recycled-310/tec-spec.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    margin-bottom: 110px;
}


@media only screen and (max-width:1800px) and (min-width:1600px) {
    .bannerImage {
        height: 765px;
    }
}
@media only screen and (max-width:1600px) and (min-width:1300px) {
    .bannerImage {
        height: 660px;
    }
}
@media only screen and (max-width:1300px) and (min-width:1200px) {
    .bannerImage {
        height: 580px;
    }
}
@media only screen and (max-width:1200px) and (min-width:901px) {
    .bannerImage {
        height: 510px;
    }
}
@media only screen and (max-width:900px) and (min-width:810px) {
  
    .bannerImage {
        height: 440px;
    }
}
@media only screen and (max-width:809px) and (min-width:710px) {
  
    .bannerImage {
        height: 390px;
    }
}
@media only screen and (max-width:709px) and (min-width:601px) {
  
    .bannerImage {
        height: 350px;
    }
}

@media only screen and (max-width:600px) and (min-width:401px) {
    
    .bannerImage {
        background-image: url(https://www.inov-8.com/media/montBlanc/mobile/three-angles.jpg);
        display: none;
    }
    .bannerImage {
        height: 1300px;
    }
}

@media only screen and (max-width:400px) and (min-width:0px) {
    .bannerImage {
        background-image: url(https://www.inov-8.com/media/montBlanc/mobile/three-angles.jpg);
        display: none;
    }
    .bannerImage {
        height: 1000px;
    }
}