


#slider1 .card1 .blogCard__image{
    background-image: url("https://www.inov-8.com/media/roclite-recycled-310/blog-one.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider1 .card2 .blogCard__image{
    background-image: url("https://www.inov-8.com/media/roclite-recycled-310/blog-two.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider1 .card3 .blogCard__image{
    background-image: url("https://www.inov-8.com/media/roclite-recycled-310/blog-three.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider1 .card4 .blogCard__image{
    background-image: url("https://www.inov-8.com/media/roclite-recycled-310/blog-four.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




#slider2 .card1{
    background-image: url("https://www.inov-8.com/media/roclite-recycled-310/mobile/carousel-1-m.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider2 .card2{
    background-image: url("https://www.inov-8.com/media/roclite-recycled-310/mobile/carousel-2-m.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider2 .card3{
    background-image: url("https://www.inov-8.com/media/roclite-recycled-310/mobile/carousel-3-m.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




@media only screen and (max-width: 600px) and (min-width: 0px) {


    #slider1 .card1 .blogCard__image{
        background-image: url("https://www.inov-8.com/media/roclite-recycled-310/blog-one.jpg"); 
    }
    #slider1 .card2 .blogCard__image{
        background-image: url("https://www.inov-8.com/media/roclite-recycled-310/blog-two.jpg"); 
    }
    #slider1 .card3 .blogCard__image{
        background-image: url("https://www.inov-8.com/media/roclite-recycled-310/blog-three.jpg"); 
    }
    #slider1 .card4 .blogCard__image{
        background-image: url("https://www.inov-8.com/media/roclite-recycled-310/blog-four.jpg"); 
    }
}