 /*  ####################################    carousel start  ####################################  */
 .carousell {
    position: relative;
    margin-bottom: 200px;
}
 .carousel {
    position: relative;
    height: 800px;
    width: 100%;
    margin-bottom: 90px;
  }
  
  .slides {
    height: 100%;
    width: 100%;
    position: relative;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 3em;
    color: white;
    line-height: 400px;
    text-align: center;
    opacity: 0;
    transition: opacity 1000ms;
  }
  .slide img{
    width: 100%;
    max-height: 800px;
  }
  .slide:nth-child(1) {
    
      opacity: 1;
  }
  
  .slide:nth-child(2) {
     
  }
  
  .slide:nth-child(3) {
     
  }
  
  .slide[data-state=active] {
    display: block;
  }
  
  .indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
transform: translate(-50%, -50%);
display: none;
  }
  
  .indicator {
      cursor: pointer;
  }

  /*  ####################################    carousel end  ####################################  */


  @media only screen and (max-width:1770px) and (min-width:1501px) {
    
    .carousel {
        height: 700px;
    }
}

@media only screen and (max-width:1500px) and (min-width:1311px) {
    
    .carousel {
        height: 600px;
    }
}
@media only screen and (max-width:1310px) and (min-width:1201px) {
    .carousel {
        height: 570px;
    }
}

@media only screen and (max-width:1200px) and (min-width:1071px) {
    .carousel {
        height: 490px;
    }
}

@media only screen and (max-width:1070px) and (min-width:910px) {
    .carousel {
        height: 430px;
    }
}

@media only screen and (max-width:909px) and (min-width:801px) {
    .carousel {
        height: 400px;
    }
}

@media only screen and (max-width:800px) and (min-width:601px) {
    .carousel {
        height: 350px;
    }
}

  @media only screen and (max-width:600px) and (min-width:0px) {
    .carousell{
        display: none;
    }
}
