* {
    margin: 0;
    padding: 0;
}
body{
    background-color:#F8F6F6;
}
.pageContainerMargin{
    margin-right: -15px;
    margin-left: -15px;
}
.marginBottom70{
    margin-bottom: 70px;
}
.marginTop70{
    margin-bottom: 70px;
}
.marginTopMinus110{
    margin-top: -110px!important;
}
.marginRight{
    margin-right: 20px;
}
.greenButton {
    color: #000;
    background: #0f0;
    text-align: center;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 15px;
    display: table;
    max-width: 200px;
    margin-top: 20px;
}
.btn-black {
    color: #000;
    font-size: 14px;
    display: inline-block;
    text-decoration: underline;
}
@media only screen and (max-width:800px) and (min-width:0px) {
    .marginBottom70Mob{
        margin-bottom: 70px;
    }
}

@media only screen and (max-width:600px) and (min-width:0px) {
    .marginTopMinus110{
        margin-top: 0px!important;
    }
}
#slider1{
    margin-bottom: 200px;
}
.sliderCenterTitle{
    text-align: center;
    margin-bottom: 80px;
    font-size: 22px;
}