.headerImage{
    background-image: url(https://www.inov-8.com/media/roclite-recycled-310/recycled-header-desktop.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
    margin-bottom: 90px;
} 

@media only screen and (max-width:1800px) and (min-width:1600px) {
    .headerImage{
        height: 600px;
    }
}
@media only screen and (max-width:1600px) and (min-width:1300px) {
    .headerImage{
        height: 600px;
    }
}
@media only screen and (max-width:1300px) and (min-width:1200px) {
    .headerImage{
        height: 530px;
    }
}
@media only screen and (max-width:1200px) and (min-width:1001px) {
    .headerImage{
        height: 450px;
    }
}
@media only screen and (max-width:1000px) and (min-width:751px) {
    .headerImage{
        height: 330px;
    }
}
@media only screen and (max-width:750px) and (min-width:601px) {
    .headerImage{
        height: 290px;
    }
}

@media only screen and (max-width:600px) and (min-width:501px) {
    .headerImage{
        background-image: url(https://www.inov-8.com/media/roclite-recycled-310/mobile/recycled-header-mobile.jpg);
        height: 840px;
    }
    .paragraph {
        width: 90%;
        margin: 0px auto;
        text-align: center;
    }
}
@media only screen and (max-width:500px) and (min-width:0px) {
    .headerImage{
        background-image: url(https://www.inov-8.com/media/roclite-recycled-310/mobile/recycled-header-mobile.jpg);
        height: 600px;
    }
    .paragraph {
        width: 90%;
        margin: 0px auto;
        text-align: center;
    }
}




