.productCardsGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
    margin-bottom: 120px;
}

.productCardsGrid .image{
    height: 328px;
    width: 471px;
    margin-bottom: 50px;
    /* background-color: white; */
    /* display: flex; */
    flex-direction: column;
    /* justify-content: end; */
    display: flex;
    justify-content: flex-end;
}

.productCardsGrid  .image img {
    width: 100%;
}
.productCardsGrid .card1{
    justify-self: end;
}
.productCardsGrid .card2{
    justify-self: baseline;
}

/* .productCardsGrid .card1 .image{
    background-image: url(https://www.inov-8.com/media/montBlanc/desktop/product-green-1.png);
    background-position: 50%;
    background-repeat: no-repeat;
 
}
.productCardsGrid .card2 .image{
    background-image: url(https://www.inov-8.com/media/montBlanc/desktop/product-blue-1.png);
    background-position: 50%;
    background-repeat: no-repeat;

}
.productCardsGrid .card3 .image{
    background-image: url(https://www.inov-8.com/media/montBlanc/desktop/product-pink-1.png);
    background-position: 50%;
    background-repeat: no-repeat;
 
} */

.productCardsGrid a {
    text-decoration: none;
    color: black;
}
.productCardsGrid a:link {
    text-decoration: none;
    color: black;
  }
  
  .productCardsGrid a:visited {
    text-decoration: none;
    color: black;
  }
  
  .productCardsGrid a:hover {
    text-decoration: none;
    color: black;
  }
  
  .productCardsGrid a:active {
    text-decoration: none;
    color: black;
  }

.actionsPlan{
    text-align: center;
}
.actionsPlan h3{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
}
.actionsPlan a{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-decoration: underline;
}

@media only screen and (max-width:1601px) and (min-width:1201px) {
    .productCardsGrid .image {
    height: 168px;
    width: 370px;
    margin-bottom: 50px;
}
}

@media only screen and (max-width:1200px) and (min-width:600px) {
.productCardsGrid .image {
    height: 113px;
    width: 250px;
    margin-bottom: 50px;
}
}
@media only screen and (max-width:801px) and (min-width:600px) {
    .productCardsGrid{
        grid-template-columns: repeat(1, 1fr);
    }
    .productCardsGrid .image {
        height: 113px;
        width: 250px;
        margin-bottom: 50px;
    }
    .productCardsGrid .card1{
        justify-self: center;
    }
    .productCardsGrid .card2{
        justify-self: center;
    }
}

@media only screen and (max-width:600px) and (min-width:0px) {
    .productCardsGrid{
        grid-template-columns: repeat(1, 1fr);
    }
    .productCardsGrid .image {
        height: 127px;
        width: 280px;
        margin-bottom: 50px;
    }
    .productCardsGrid .card1{
        justify-self: center;
    }
    .productCardsGrid .card2{
        justify-self: center;
    }
}