.sider_container::-webkit-scrollbar {
    height: 4px;
    -webkit-appearance: none;
} 
.sider_container::-webkit-scrollbar-track {
   background-color: #d0d0d0;
   margin-left: 200px;
   margin-right: 200px
 }
.sider_container::-webkit-scrollbar-thumb {
    background-color: #01ff01;
    outline: 1px solid slategrey;
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    .sider_container::-webkit-scrollbar{
        display: none;
    }
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
    .sider_container::-webkit-scrollbar{
        display: none;
    }
}