.titleSection{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 170px;
}
.titleSection .titleSectionRow{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: "image1 image1 image1 image1 image1 image1 text1 text1 text1 text1";
    margin-top: -40px;
}
.titleSection .titleSectionRowOpp{
    display: grid;
    grid-template-areas: "text2 text2 text2 text2 image2 image2 image2 image2 image2 image2";
    grid-template-columns: repeat(10, 1fr);
    margin-top: -40px;
}

.titleSection .titleSectionRow .text1{
    grid-area: text1;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titleSection .titleSectionRowOpp .text2{
    grid-area: text2;
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleSection .titleSectionRow .text{
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.titleSection .titleSectionRow .image1{
    grid-area: image1;
}

.titleSection .titleSectionRowOpp .image2{
    grid-area: image2;
}

.titleSection .titleSectionRowOpp .image2 img,
.titleSection .titleSectionRow .image1 img{
    width: 100%;
}

.titleSection .titleSectionRow .text1 h3,
.titleSection .titleSectionRowOpp .text2 h3{
    font-size: 40px;
    line-height: 45px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.titleSection .titleSectionRow .text1 p,
.titleSection .titleSectionRowOpp .text2 p{
    font-size: 30px;
    line-height: 30px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
/* .titleSection .titleSectionRow .image{
    width: 808px;
    height: 539px;
} */

.titleSection .card1{
    
    z-index: 10;
}
.titleSection .card2{
   
    z-index: 9;
}
.titleSection .card3{
   
    z-index: 8;
}
.titleSection .card4{
   
    z-index: 9;
}



 @media only screen and (max-width:1300px) and (min-width:1151px) {
 .titleSection{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 200px;
}
 }


@media only screen and (max-width:1150px) and (min-width:600px) {
    .titleSection{
        width: 80%;
        margin-bottom: 70px;
    }
    .titleSection .titleSectionRow{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 0px;
        grid-template-areas: "image1"
        "text1";
    }
    .titleSection .titleSectionRowOpp{
        display: grid;
        margin-top: 0px;
        grid-template-areas:  "image2"
            "text2";
        grid-template-columns: repeat(1, 1fr);
    }
   
    .titleSection .titleSectionRow .text1{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 58px;
    }
    .titleSection .titleSectionRowOpp .text2{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 58px;
    }
}

@media only screen and (max-width:1700px) and (min-width:601px) {
    .titleSection .titleSectionRow .text1 h3,
    .titleSection .titleSectionRowOpp .text2 h3{
        font-size: 26px;
        line-height: 28px;
    }
    .titleSection .titleSectionRow .text1 p,
    .titleSection .titleSectionRowOpp .text2 p{
        font-size: 20px;
        line-height: 22px;
    }
}
    @media only screen and (max-width:1150px) and (min-width:601px) {

.titleSection .titleSectionRow .image1{
    margin-bottom: 20px;
}

.titleSection .titleSectionRowOpp .image2{
    margin-bottom: 20px;
}
}
@media only screen and (max-width:600px) and (min-width:0px) {
    .titleSection .titleSectionRow .image1{
        margin-bottom: 20px;
    }
    
    .titleSection .titleSectionRowOpp .image2{
        margin-bottom: 20px;
    }
    .titleSection .titleSectionRow .text1 h3,
    .titleSection .titleSectionRowOpp .text2 h3{
        font-size: 26px;
        line-height: 28px;
    }
    .titleSection .titleSectionRow .text1 p,
    .titleSection .titleSectionRowOpp .text2 p{
        font-size: 20px;
        line-height: 22px;
    }
    
    .titleSection{
        width: 90%;
        margin-bottom: 70px;
    }
    .titleSection .titleSectionRow{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 0px;
        grid-template-areas: 
        "image1"
        "text1";
    }
    .titleSection .titleSectionRowOpp{
        display: grid;
        margin-top: 0px;
        grid-template-areas: 
            "image2"
            "text2";
        grid-template-columns: repeat(1, 1fr);
    }
    .titleSection{
        width: 90%;
    }
   
     .titleSection .titleSectionRow .text1{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 58px;
    }
    .titleSection .titleSectionRowOpp .text2{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 58px;
    }
}