#fadeTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vw;
    line-height: 100px;
    color: #fff;
    text-transform: uppercase;
    width: 70%;
    text-align: center;
}
#fadeTitle h2{
    font-size: 7vw;
}