
.homepageRemake h1,
.homepageRemake h2,
.videoContainer .homepageRemake h3 {
	text-transform: uppercase;
	color: #fff;
	margin: 0
}

.homepageRemake a {
	text-decoration: none;
	transition: all
}

.videoContainer {
    background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/trailfly-new-colours.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width:801px) and (min-width:600px) {
    .videoContainer {
        background-image: url(https://www.inov-8.com/media/homepageGrid/tablet/trailfly-new-colour.jpg);
    }
}

@media only screen and (max-width:600px) and (min-width:0px) {
    .videoContainer {
        background-image: url(https://www.inov-8.com/media/homepageGrid/mobile/trailfly-new-colours.jpg);
    }
}

.videoContainer p {
	font-size: 26px
}

.videoContainer h3 {
	font-weight: 100;
	margin: 0 0 32px
}

.videoContainer h1 {
	font-size: 40px;
	margin-bottom: 15px
}


video {
	object-fit: cover;
	top: 0;
	left: 0
}

.videoContainer,
video {
	height: 800px;
	position: relative;
	display: flex;
	max-height: 800px;
	width: 100%;
  
}

.videoContainer {
    margin-bottom: 170px;
}

.videoContainer .shopButtons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 316px
}

.videoContainer p {
	color: #fff
}

.videoContainer .bannerText {
	position: absolute;
	top: 35%;
	left: 10px;
	z-index: 10;
	padding: 0 0 0 90px;
	align-self: center
}
@media only screen and (max-width:1500px) and (min-width:1201px) {
    .videoContainer,
    video {
        height: 600px;
    }
}

@media only screen and (max-width:1200px) and (min-width:901px) {
    .videoContainer,
    video {
        height: 500px;
    }
    .videoContainer {
        margin-bottom: 70px;
    }
}
@media only screen and (max-width:900px) {
    .videoContainer {
        margin-bottom: 120px;
    }
    .videoContainer,
    video {
        height: 400px;
    }
}


@media only screen and (max-width:801px) and (min-width:600px) {
    .videoContainer {
        margin-bottom: 120px;
      
    }
	.videoContainer .bannerText {
		padding: 0 0 0 45px
	}
}

@media only screen and (max-width:600px) and (min-width:0px) {
	.videobanner {
		grid-template-columns: repeat(1, 1fr);
        display: none;
	}
	.videoContainer {
        margin-bottom: 70px;
    min-height: 700px;
    display: none;
	}
	.videobanner {
		height: 600px;
	}
	.videobanner img {
		max-height: 280px;
		justify-content: center
	}
	.videoContainer .bannerImage {
		align-self: flex-start
	}
	.videoContainer .bannerText {
		padding: 40px 26px 0;
		top: 55%;
		left: 0
	}
	.gridText,
	.videoContainer .bannerText {
		align-self: flex-start
	}
	.videoContainer .bannerMobileTitle {
		display: block
	}
}