.card2000x900{
    height: 900px;
    width: 2000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 40px;
    padding: 0px 20px;
    box-sizing: border-box;
    border-radius: 5px;
}
.card2000x900Height a{
    text-decoration: none;
}
.card2000x900__container{
    max-width: 65%;
    margin: 0 auto;
  }
  .card2000x900 h2{
    font-size: 120px;
    line-height: 100px;
    margin: 0;
    text-align: center;
  }

.card2000x900Height{
    height: 900px;
}

.card2000x900Height .firstChildMargin {
    margin-left: 5px;
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    .card2000x900{
        height: 600px;
        width: 400px;
    }
    .card2000x900Height{
        height: 620px;
    }
    .card2000x900Height .firstChildMargin {
        margin-left: 30px;
    }
    
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
   
}