
#slider2{
    display: none;
}

.mobileSlider{
    width: 415px;
    height: 600px;
}
.mobileSlider__title{
    font-size: 22px;
    padding: 20px 0px;
}
.mobileSlider__title h2{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: none;
    letter-spacing: 0;
}
.mobileSlider__image{
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 600px;
    width: 415px;
}
.mobileSliderHeight{
    height: 730px;
}

.mobileSliderHeight .firstChildMargin {
    margin-left: 5px;
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    .mobileSliderHeight{
        height: 730px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .mobileSliderHeight .firstChildMargin {
        margin-left: 30px;
    }
    .mobileSliderHeight{
        height: 730px;
    }

    #slider2{
        display: block;
    }
}


